html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#gridContainer {
    column-gap: 0px;
    row-gap: 0px;
    height: 90%;
}
.colored {
    background-color: black;
}
#resetButtonContainer {
    height: 10%;
    top: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;}
h1 {
    
}
button {
    height: 100px;
    margin-left: 100px;
}